<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huoqiu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,170}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{136,170}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>huoqiu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{134,170}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{134,170}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>huoqiu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{138,164}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{138,164}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>huoqiu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,344},{144,152}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{144,152}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>huoqiu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,344},{132,160}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{132,160}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>huoqiu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,174},{138,168}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{138,168}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fire1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8732ff09b09d872c216fc7a7209e8ce2:1/1$</string>
            <key>textureFileName</key>
            <string>fire1.png</string>
        </dict>
    </dict>
</plist>
