<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ai xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,940},{50,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{50,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>aixin 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,940},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>chong lai0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,798},{140,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{140,86}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>chong lai0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,656},{140,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{140,86}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>sheng li.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{482,398}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{482,398}}</string>
                <key>sourceSize</key>
                <string>{490,400}</string>
            </dict>
            <key>win bei jing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1080}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2},{98,652}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,652}}</string>
                <key>sourceSize</key>
                <string>{110,670}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>win.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8586bd2cb41812b2e27b782cd2dd6d5:1/1$</string>
            <key>textureFileName</key>
            <string>win.png</string>
        </dict>
    </dict>
</plist>
